<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/Home.css">
</head>
<body class="gradient-custom">
<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary mt-5 mx-5 rounded-2">
    <div class="container-fluid">
      <button class="btn btn-outline-primary w-25 h-25 rounded" id="switchPageSignUp">signup</button>
      <button class="btn btn-outline-primary w-25 h-25 rounded" id="switchPageLogin">login</button>
      <button class="btn btn-outline-primary w-25 h-25 rounded" id="switchPageLogout">logout</button>
    </div>
  </nav>

</header>
<section>
  <div class="container mt-5 mb-5">
    <div class="row" id="category">
    </div>
    <div class="row mt-5 " id="product">



    </div>
  </div>
</section>

<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/Home.js"></script>
</body>
</html>